<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <title>EasyJbos</title>
</head>
<body>
    <header style="background-image: url('img/background-home.jpg')">
        <div class="container">
            <nav>
                <a href="index.html"> <img src="img/easy.png" alt="logo"></a>
                <ul class="ul">
                    <!--links trocar-->
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre nós</a>
                    <a href="servicos.html">Serviços</a>
                    <a href="contato.html">Contato</a>
                    <a href="login.html" class="btn">Login/Cadastrar</a>
                </ul>

                <div class="menu-icon">
                    <i class="fa fa-bars" ></i>

                </div>

            </nav>
            <section class="banner">
                <div class="banner-text">
                    <h1>EasyJbos</h1>
                    <p>Construir um texto epositivo breve sobre a EasyJbos, que apresente a marcar de forma simples e direta.</p>
                                       <!--link trocar-->
                    <a href="login.html " class="btn">VENHA FAZER PARTE</a>
                </div>

            </section>
        </div>

    </header>
    <section class="oportunidade">
        <div class="container">
            <div class="oportunidade-text">
                <h3>Uma mensagem de call action</h3>
                <p>
                    texto expositivo sobre a proposta e o diferencial em relação aos demais.
                </p>
                <!--animate btn n funiona, vou verificar dps-->
                         <!--link trocar-->
                <a href="sobre.html" class="btn animate-btn">CONHEÇA NOSSA PROPOSTA</a>
            </div>
            <div class="oportunidade-img">
                <!--elaborar uma imagem nossa-->
                <img src="img/img-1.png" alt="">
            </div>

        </div>

    </section>

    <section class="oportunidade">
        
        <div class="container">
            
            <div>
                <div class="sobre-img">
                    <img src="img/img-2.png">
                </div>
            </div>
            <div class="oportunidade-text">
                <h3>Preocupados com seu futuro</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                </p>
                 <!--link trocar-->
                <a href="contato.hmtl" class="btn animate-btn"> Fale Conosco</a>
            </div>

        </div>

    </section>
    <section class="depoimento">
        <div class="container">
            <h3>NOSSOS DEPOIMENTOS</h3>
            <P>Veja por si mesmo o que podemos fazer pela sua carreira</P>
            <div class="cards">
                <!--card 1-->
                <div class="card-item">
                    <img src="img/icon.png" alt="perfil">
                    <p class="nome-user">Daniel Andrade</p>
                    <p class="depoimento">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                         when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
                <!--card 2-->
                <div class="card-item">
                    <img src="img/icon.png" alt="perfil">
                    <p class="nome-user">Gabriel Asafe</p>
                    <p class="depoimento">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                         when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>

                    </div>
                </div>
                <!--card 3-->
                <div class="card-item">
                    <img src="img/icon.png" alt="perfil">
                    <p class="nome-user">Enzzo Hoski</p>
                    <p class="depoimento">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                         when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="clientes">
        <div class="container">
            <h3>Nossos Clientes</h3>
            <p>Conheça algumas das empresas que estão em busca de colaboradores
                em nossa plataforma.</p>
            <div>
                <img src="img/apple.png" alt="">
                <img src="img/microsoft.png" alt="">
                <img src="img/slack.png" alt="">
                <img src="img/google.png" alt="">


            </div> 
        </div>

    </section>
    <section class="oportunidade">
        <div class="container">
            <div class="oportunidade-text">
                <h3>Seus dados pessoais estão seguros conosco</h3>
                <p>
                    Grantimos a contratação apenas por suas qualificações, seus dados pessoais estarão protegidos de terceiros              
                  </p>
                <!--animate btn n funiona, verificar dps-->
                     <!--link trocar-->
                <a href="serviços.html" class="btn animate-btn">VENHA FAZER PARTE</a>
            </div>
            <div class="oportunidade-img">
                <!--elaborar uma imagem nossa-->
                <img src="img/security.png" alt="">
            </div>

        </div>

    </section>
<footer class="footer">
    <div class="container">
        <div class="links">
                                                   <!--link pras redes sociais trocar-->
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
            <p>BY ESASYJOBS INC.</p>

        </div>
    </div>

</footer>
</body>
</html>