<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <title>Serviços | EasyJbos</title>
</head>
<body>
    <header style="background-image: url('img/background-servicos.jpg')">
        <div class="container">
            <nav>
                <a href="index.html"> <img src="img/easy.png" alt="logo"></a>
                <ul class="ul">
                    <!--links trocar-->
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre nós</a>
                    <a href="servicos.html">Serviços</a>
                    <a href="contato.html">Contato</a>
                    <a  class="btn"  href="login.html">Login/Cadastrar</a>
                </ul>

                <div class="menu-icon">
                    <i class="fa fa-bars" ></i>

                </div>

            </nav>
            <section class="banner">
                <div class="banner-text">
                    <h1>Serviços</h1>
                   
                </div>

            </section>
        </div>

    </header>
    
  <section class="servicos">
        <div class="container">
            <h3>O QUE OFERECEMOS</h3>
            <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </P>

            <div class="rows-cards">
                <div class="row-card-item">
                    <img src="img/cloud.png" alt="">
                    <p class="nome-servico"><strong>Acesso rápido e fácil</strong></p>
                    <p class="descricao-servico">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                    <div class="row-card-item">
                        <img src="img/digital-marketing.png" alt="">
                        <p class="nome-servico"><strong>Facilidade no agendamento</strong></p>
                        <p class="descricao-servico">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
              
                    <div class="row-card-item">
                        <img src="img/seo.png" alt="">
                        <p class="nome-servico"><strong>Encontre o que precisa</strong></p>
                        <p class="descricao-servico">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="row-card-item">
                        <img src="img/virtual_store.png" alt="">
                        <p class="nome-servico"><strong>Para todo tipo de negócio</strong></p>
                        <p class="descricao-servico">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="row-card-item">
                        <img src="img/layer.png" alt="">
                        <p class="nome-servico"><strong>Praticidade com os dados</strong></p>
                        <p class="descricao-servico">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="row-card-item">
                        <img src="img/manager.png" alt="">
                        <p class="nome-servico"><strong>Agilidade no recrutamento </strong></p>
                        <p class="descricao-servico">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
            </div>

        </div>
  </section>
        <section class="dados">
            <div class="container">
                <div class="dados-item">
                    <img src="img/manager.png" alt="">
                    <p><strong>+300</strong></p>
                    Pessoas já foram recutadas
                </div>   
                    <div class="dados-item">
                        <img src="img/trophy.png" alt="">
                        <p><strong>+350</strong></p>
                        Empresas em busca de contratos
                    </div>
                    <div class="dados-item">
                        <img src="img/layer.png" alt="">
                        <p><strong>+100</strong></p>
                        Áreas em busca de emprego
                    </div>
            </div>
        </section>
   

<footer class="footer">
    <div class="container">
        <div class="links">
                                                   <!--link pras redes sociais trocar-->
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
            <p>BY ESASYJOBS INC.</p>

        </div>
    </div>

</footer>
</body>
</html>