<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <title>Seleção Cadastro | EasyJbos</title>
</head>
<body>
    <header style="background-image: url('img/background-sobre1.jpg')">
        <div class="container">
            <nav>
                <a href="index.html"> <img src="img/easy.png" alt="logo"></a>
                <ul class="ul">
                    <!--links trocar-->
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre nós</a>
                    <a href="servicos.html">Serviços</a>
                    <a href="contato.html">Contato</a>
                    <a  class="btn"  href="login.html">Login/Cadastrar</a>
                </ul>

                <div class="menu-icon">
                    <i class="fa fa-bars" ></i>

                </div>

            </nav>
            <section class="banner">
                <div class="banner-text">
                    <h1>Qual o seu Perfil?</h1>
                   
                </div>

            </section>
        </div>

    </header>
    
    <div class="tipo">
        <div class="container">
            <div class="sobre-text">
                <h3>Empresa</h3>
                <p>Caso você seja uma empresa que deseja realizar a busca de possiveis candidatos para uma vaga que esteja oferecendo
                </p>
                
                <a href="cadastro_empresa.html" class="btn animate-btn"> Sou empresa</a>
            </div>
            <div class="sobre-text">
                <h3>Candidato</h3>
                <p>Caso você esteja em busca de emprego e deseja ser selecionado para uma vaga baseado no seu perfil profissional
                </p>
                 
                <a href="cadastro_candidato2.html" class="btn animate-btn"> Sou Candidato</a>
            </div>
            
        </div>
       
       
    </div>
   

<footer class="footer">
    <div class="container">
        <div class="links">
                                                   
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
            <p>BY ESASYJOBS INC.</p>

        </div>
    </div>

</footer>
</body>
</html>